#outside {
  z-index: 1;
  position: absolute;
  background-color: rgb(56, 166, 180);
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40pt;
  text-align: center;
}

#outside-pic {
  width: 300px;
  height: 300px;
}

#outside-help {
  color: rgb(0, 0, 0);
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-color: rgb(71, 30, 221);
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color: rgb(255, 255, 255);
  font-family: Courier;
  font-size: 20pt;
  text-align: center;
}

#inside-pic {
  width: 300x;
  height: 300px;
}

#message {
  color: rgb(255, 255, 255);
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

button {
  background: silver;
  font-size: 16pt;
}
